<p>Dear {{copyeditorDisplayName}},</p>
<p>You have been assigned to copyedit the manuscript <strong>{{submissionTitle}}</strong> in Folio.</p>
<p><a href="{{workbenchUrl}}">Open your copyediting workbench</a></p>
<p>Assigned by {{assignedByDisplayName}}.</p>
<p>Thank you,<br/>Folio editorial team</p>
